@import "src/styles/variables";
@import "src/styles/mixins";

.part_five_block {
  padding-top: size(100);
  background: $buyablebusiness-red;

  .step-five-content {
    .step-icon-title {
      @include flex(center);
      margin-bottom: size(95);
    }
    .headline-1 {
      color: $buyablebusiness-white;
      font-size: size(167);
      min-width: size(114);
      margin-bottom: 0;
      padding-left: size(40);
    }
    .headline-2 {
      font-size: size(66);
    }
    .line {
      width: size(2);
      height: size(142);
      background-color: $buyablebusiness-white;
      @include marginX(size(30));
    }
    .paragraph {
      max-width: 80%;
      font-size: size(31);
      font-family: $roboto;
      @include paddingX(size(36));
    }
    svg{
      margin-top: size(50);
    }
  }
}
