@import "variables";

@font-face {
  font-family: $bison;
  src: url('fonts/Bison-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: $bison;
  src: url('fonts/Bison-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $bison;
  src: url('fonts/Bison-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

