:root {
  /* Colors: */
  --buyablebusiness-black: #000000;
  --buyablebusiness-white: #ffffff;
  --buyablebusiness-light-white: #F4F4F4;
  --buyablebusiness-gray: #666666;
  --buyablebusiness-light-gray: #cccccc;
  --buyablebusiness-red: #e31e24;
  --buyablebusiness-dark-red: #C32729;
}
