@import "variables";
@import "mixins";
@import "root";

html {
  font-family: $roboto;
}

body {
  background: $buyablebusiness-light-gray;
}

.container {
  max-width: size(1920);
  @include paddingX(size(20));
  @include min-medium-screen {
    @include paddingX(size(30));
  }
  @include large-screen {
    @include paddingX(size(206));
  }
}

.headline-1, .wysiwyg-block h1 {
  @include font(size(50), 700, normal, $buyablebusiness-red);
  font-family: $bison;
  text-transform: uppercase;
  margin-bottom: size(16);
  @include min-medium-screen {
    font-size: size(97);
  }
}

.headline-2, .wysiwyg-block h2 {
  @include font(size(22), 700, 100%, $buyablebusiness-white);
  position: relative;
  text-transform: uppercase;
  @include min-medium-screen {
    font-size: size(79);
  }
  @include large-screen {
    font-size: size(51);
  }


  .small-tm {
    font-size: size(25);
    line-height: 100%;
    position: absolute;
    top: 50%;
  }
}

.headline-3, .wysiwyg-block h3 {
  @include font(size(22), 800, normal, $buyablebusiness-white);
  position: relative;
  font-family: $bison;
  text-transform: uppercase;
  @include min-medium-screen {
    font-size: size(65);
  }
  @include large-screen {
    font-size: size(42);
  }
  @include small-screen {
    max-width: size(121);
  }
}

.headline-4, .wysiwyg-block h4 {
  @include font(size(24), 800, size(32), $buyablebusiness-white);
}

.headline-5, .wysiwyg-block h5 {
  @include font(size(16), 800, size(24), $buyablebusiness-white);
}

.paragraph, .wysiwyg-block p {
  @include font(size(16), 400, normal, $buyablebusiness-white);
  @include min-medium-screen {
    font-size: size(27);
  }
}

.btn {
  font-size: size(16);
  font-weight: 700;
  color: $buyablebusiness-white;
  font-family: $roboto;
  padding: size(20);
  border-radius: size(13);
  transition: color .25s ease, background .25s ease;
  background: $buyablebusiness-dark-red;
  @include flex(center, center);
  @include min-medium-screen {
    font-size: size(26);
  }
  //&:hover {
  //  color: $buyablebusiness-white;
  //  background: $buyablebusiness-red;
  //}
}

sup {
  font-size: 57.73%;
}

form.post-password-form {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: white;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
}


.um input[type=submit].um-button, .um input[type=submit].um-button:focus, .um a.um-button, .um a.um-button.um-disabled:hover, .um a.um-button.um-disabled:focus, .um a.um-button.um-disabled:active {
  background: $buyablebusiness-red !important;
  color: #ffffff !important;
  font-family: 'Roboto' !important;
  text-transform: uppercase !important;
}


.um {
  width: 100% !important;
  padding-right: size(15) !important;
  padding-left: size(15) !important;
}


.free-premium {
  svg {
    width: size(30) !important;
    height: size(30) !important;
    @include min-medium-screen {
      width: size(50) !important;
      height: size(50) !important;
    }
  }

}

.error-tittle {
  svg {
    #Path_11, #Path_9, #Path_8 {
      fill: $buyablebusiness-red;
    }

    #Path_10 {
      fill: $buyablebusiness-white;
    }
  }
}

.um {
  opacity: 1 !important;
}


//.um-account-meta-img img{
//  visibility: hidden !important;
//}

.um-account-name {
  pointer-events: none;
}

.um-account-meta-img {
  pointer-events: none;
}

.um-form input[type=text], .um-form input[type=search], .um-form input[type=tel], .um-form input[type=number], .um-form input[type=password],
.um-field-label label, input[type=submit].um-button, input[type=submit].um-button:focus, a.um-button {
  font-size: 2.4rem !important;
}

@include max-medium-screen {
  .um.um-account.um-editing.um-um_account_id .um-account-main {
    padding: 0 !important;
  }
}

@include min-medium-screen {
  .um-account-main {
    width: 66%;
    margin-left: 4%;
  }
}


//  region terms and privacy policy styling
.page-template-text-page {

  .text-page {
    @include paddingY(size(64));
    @include min-medium-screen {
      @include paddingY(size(80));
    }
    @include large-screen {
      @include paddingY(size(130), size(96));
    }
    max-width: size(800);
    @include marginX(auto);

  }

  p {
    margin-bottom: size(30);
    @include font(size(16), 400, size(22), #000, $roboto);
    @include min-medium-screen {
      line-height: size(24);
    }
  }


  h1, .headline-1 {
    @include marginY(size(24));
    @include font(size(30), bold, 112%, #e31e24, $roboto);
    @include min-medium-screen {
      font-size: size(40);
      line-height: 105%;
      margin-top: size(40);
    }

  }

  h2, .headline-2 {
    text-align: left;

    @include marginY(size(24));
    @include font(size(20), bold, 112.5%, $buyablebusiness-black);
    @include min-medium-screen {
      font-size: size(25);
      line-height: 135%;
      margin-top: size(40);
    }

  }

  ul:not(.reset-ul) {
    padding-top: 0;
    margin-bottom: size(30);

    li {
      position: relative;
      padding: 0 size(24);
      font-size: size(16);
      line-height: size(22);
      font-weight: 400;
      margin-left: size(24);

      &:not(:last-child) {
        margin-bottom: size(10);
      }

      &:before {
        content: "";
        width: size(9);
        height: size(9);
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

}

// endregion
