// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$buyablebusiness-black: var(--buyablebusiness-black);
$buyablebusiness-white: var(--buyablebusiness-white);
$buyablebusiness-light-white: var(--buyablebusiness-light-white);
$buyablebusiness-gray: var(--buyablebusiness-gray);
$buyablebusiness-light-gray: var(--buyablebusiness-light-gray);
$buyablebusiness-red: var(--buyablebusiness-red);
$buyablebusiness-dark-red: var(--buyablebusiness-dark-red);
// fonts
$bison: "Bison Bold";
$roboto: "Roboto";
//default duration
$duration: 500ms;
// bouncing
$bouncing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 1056px, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);
