@font-face {
    font-family: "Bison Bold";
    src: url(./Bison-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "News Goth BT";
    src: url(./fonts/newsgothicbt.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Bison;
    src: url(./fonts/Bison-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "F 25 Executive";
    src: url(./fonts/f25-executive.ttf);
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,p,ul{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 100px;
    font-family: Roboto, sans-serif;
}
.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1300px;
    }
}

.buyable {
    background-color: #c32729;
    min-height: 59.2rem;
    padding: 2rem 0;
}
@media screen and (min-width: 600px){
    .buyable {
        padding: 0;
    }
}
.buyable img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0;
    top: 0;
    position: relative;
}
@media screen and (min-width: 600px){
    .buyable img {
        position: absolute;
        width: auto;
    }
}
.book-description {
    max-width: 50rem;
    position: relative;
    padding-top: 0;
    margin-bottom: 2rem;
    z-index: 1;
}
@media screen and (min-width: 600px){
    .book-description {
        padding-top: 23rem;
        margin-bottom: 0;
        padding-bottom: 5.5rem;
    }
}
.book-description .paragraph {
    color: #ffffff;
    font-size: 3.1rem;
    margin: 0;
    font-family: "F 25 Executive";
}
.book-description .headline-1{
    color: #fff;
    font-family: "Bison Bold";
    font-size: 11.8rem;
    margin: 0;
}
@media screen and (min-width: 600px){
    .book-description .headline-1{
        font-size: 16.8rem;
    }
}


.blocks-parent-section {
    text-align: center;
    padding-top: 6rem;
}
.blocks-parent-section .section-number {
    width: 10rem;
    height: 10rem;
    color: #2b2a29;
    border: .3rem solid #2b2a29;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: "News Goth BT";
    font-size: 6.6rem;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    transition-property: color, background, border-color;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.04, 0.71, 0.12, 0.87);
}
.blocks-parent-section:hover .section-number {
    background: #c32729;
    color: #fff;
    border-color: #c32729;
}
@media screen and (min-width: 600px){
    .blocks-parent-section .section-number {
        width: 12.7rem;
        height: 12.7rem;
    }
}
.blocks-parent-section .section-title {
    color: #2b2a29;
    font-family: "News Goth BT";
    font-size: 5rem;
    font-weight: 400;
    margin-top: 2.9rem;
}
@media screen and (min-width: 600px){
    .blocks-parent-section .section-title {
        font-size: 6.6rem;
    }
}
.blocks-parent-section .block {
    text-align: center;
}
.blocks-parent-section .block-title {
    color: #373435;
    font-family: "Bison Bold";
    font-size: 4.7rem;
    font-weight: bold;
    margin-top: 3.8rem;
    margin-bottom: 3.6rem;
}
@media screen and (min-width: 600px){
    .blocks-parent-section .block-title {
        font-size: 4.7rem;
    }
}
.blocks-parent-section .block-title span {
    color: #373435;
    font-family: Bison;
    font-weight: 400;
}
.blocks-parent-section .block-content {
    background-color: #f4f3ee;
    padding: 3rem 1rem;
}
@media screen and (min-width: 600px){
    .blocks-parent-section .block-content {
        padding: 5.5rem 0;
    }
}
.block-content .image-wrapper .sources{
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
}

@media screen and (min-width: 600px){
    .block-content .image-wrapper .sources {
        font-size: 14px;
        margin-top: 19px;
    }
}

@media (min-width: 992px){
    .block-content .image-wrapper .sources {
        font-size: 18px;
    }
}


.block-content .image-wrapper .sources a{
    text-decoration: none;
    color: inherit;
}

.block-content .image-wrapper {
    max-width: 88.5rem;
    display: block;
    margin: 0 auto;
}
.block-content .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* region dah header */
header { height: 100px; position: fixed; width: 100%; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff; -webkit-box-shadow: -1px 1px 8px -5px #000; box-shadow: -1px 1px 8px -5px #000; z-index: 9999 } .header-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between } .header-left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center } .header-left .main-logo { margin-right: 70px } .header-left .main-logo img { height: 65px; -o-object-fit: contain; object-fit: contain } ul.taps { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; } li.tap { font-weight: 400; margin-right: 29px; display: flex; justify-content: center; align-items: center; position: relative; cursor: pointer } li.tap a { color: #75787b; text-decoration: none; -webkit-transition: all .6s ease; -o-transition: all .6s ease; transition: all .6s ease; font-size: 24px } li.tap a:hover { color: #ed1c24 } .cta_button { background-color: #ed1c24; color: #fff; font-size: 19px; font-weight: 500; line-height: 100%; padding: 15px; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; text-decoration: none; border-radius: 8px; -webkit-transition: all .6s ease; -o-transition: all .6s ease; transition: all .6s ease; display: block; text-align: center; -ms-flex-negative: 0; flex-shrink: 0 } .header-right .cta_button:hover { background-color: #fff; color: #ed1c24; -webkit-box-shadow: 0 1px 8px -5px #000; box-shadow: 0 1px 8px -5px #000 } .menu-small-screen { position: absolute; right: 24px } .open-menu { position: absolute; right: 25px; top: 50%; display: none; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); cursor: pointer } .close-menu { display: none } li.tap svg { width: 14px; margin-left: 15px } @media (min-width: 768px) { li.tap:hover .drop-down { display: block } } li.tap .drop-down { position: absolute; width: fit-content; top: 40%; left: 0; padding-top: 28px; display: none } li.tap .drop-down.active { display: block; } li.tap .links-menu a { display: block; position: relative; margin-bottom: 10px; margin-right: 0; font-size: 1.2rem; } li.tap .links-menu a:before { content: ''; position: absolute; left: -1.4rem; top: 0.5rem; width: 0.5rem; height: 0.5rem; background: #585757; border-radius: 50%; } .links-menu { background: #fff; box-shadow: 0 0 12px -5px #000; border-radius: 5px; padding: 1.5rem; width: 170%; padding-left: 2.7rem; } @media (max-width: 767.98px) { li.tap .drop-down { display: none; padding-top: 0; margin-top: 15px; position: relative; width: 100%; /*margin-top: 20px;*/ top: auto; left: 16px; } li.tap .drop-down .links-menu{ width: 100%; } li.tap { position: relative; text-align: center; margin-bottom: 20px; flex-wrap: wrap } .links-menu a { font-size: 17px !important; margin-bottom: 7px !important; text-align: left } .open-menu { display: block } .header-right { margin-right: 50px } ul.taps { position: fixed; top: 0; right: 0; width: 100%; height: 100%; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; background: #fff; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; padding-top: 16% } ul.taps.active { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0) } .close-menu { display: block; position: fixed; right: 25px; cursor: pointer; width: 24px; top: 27px } li.tap a { font-size: 24px; display: block; margin-right: 0 } .header-left .main-logo { margin-right: 25px; max-width: 100px } } .header-right .cta_button { background: #c32729; } @media (min-width: 576px) { .header-right .cta_button { padding: 18px 30px } }

@media (min-width: 767px) and  (max-width: 992px){
    .header-left .main-logo {
        display: none;
    }
}
/* endregion dah header */