@import "front-end/src/styles/variables";
@import "front-end/src/styles/mixins";

$buyablebusiness-black: #000000;
$buyablebusiness-white: #ffffff;
$buyablebusiness-light-white: #F4F4F4;
$buyablebusiness-gray: #666666;
$buyablebusiness-light-gray: #cccccc;
$buyablebusiness-red: #e31e24;
$buyablebusiness-dark-red: #C32729;

.tools_content_block {
  .step-icon-title {
    @include flex(center);
    margin-bottom: size(81);
    @include max-medium-screen {
      flex-direction: column;
      margin-bottom: size(35);
    }
  }

  .number {
    font-size: size(167);
    line-height: 100%;
    color: $buyablebusiness-red;
    margin-bottom: 0;
    font-family: "Bison Bold";
    @include max-medium-screen {
      font-size: size(120);
      margin-top: -1.8rem;
    }
  }

  .big-title {
    font-size: size(66);
    font-weight: bold;
    font-family: "Bison Bold";
    line-height: 100%;
    //text-shadow: 1px 1px .5px #e31e24;
    color: $buyablebusiness-red;
    @include max-medium-screen {
      font-size: size(40);
      line-height: 120%;
      text-align: left;
    }
  }

  .line {
    width: 3px;
    height: size(142);
    background-color: $buyablebusiness-red;
    margin-right: size(28);
    margin-left: size(28);
    @include max-medium-screen {
      display: none;
    }
  }

  .image-and-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: size(30);
    @include max-medium-screen {
      flex-direction: column !important;
    }

    .paragraph {
      flex: 0 1 57%;
      font-size: size(31);
      font-family: $roboto;
      color: #333333;
      font-weight: 400;
      margin-bottom: size(30);
      padding-right: size(40);
      @include max-medium-screen {
        font-size: size(23);
        flex: 0 0 100%;
        width: 100%;
        padding-right: size(10);
      }
    }

    picture {
      flex: 0 0 40%;
      width: 40%;
      margin-bottom: size(30);
      @include max-medium-screen {
        flex: 0 0 100%;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.steps_title_block {
  //padding-top: size(50);

  .step-title {
    @include flex(center, space-between);

    .step-icon-title {
      @include flex(center, space-between)
    }

    .small-steps {
      width: size(175);
      height: size(147);
      @include max-medium-screen {
        width: size(80);
      }
    }

    .line {
      width: size(2);
      height: size(100);
      background-color: #fff;
      @include marginX(size(30));
      @include max-medium-screen {
        height: size(60);
        @include marginX(size(10));
      }
    }

    .gray {
      cursor: pointer;
      transition: opacity .25s cubic-bezier(0, 0.93, 0.67, 0.74);

      &.active {
        opacity: 0;
      }

      &:hover, &:active, &:focus {
        opacity: 0;
      }
    }

    .logo-title {
      font-weight: 300;
      color: #ffffff;
      font-size: size(54);
      font-family: "Bison Bold";
      line-height: 100%;
      @include max-medium-screen {
        font-size: size(32);
      }

      strong {
        display: block;
      }
    }

    .step-icon {
      width: size(100);
      height: size(129);

      svg {
        width: 100%;
        height: 100%;
      }

      @include max-medium-screen {
        width: size(60);
      }
    }
  }
}


.container {
  @media screen and (min-width: 1200px) {
    max-width: 1282px;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;


  .inputs-wrapper {
    display: flex;
    justify-content: space-between;
    @include max-medium-screen {
      flex-direction: column;
    }

    input {
      width: 100%;
      flex-basis: 48%;
      border: none;
      @include paddingX(size(24));
      min-height: size(67);
      background-color: #fff;
      border-radius: 11px;
      color: var(--ligth-gray-color);
      font-size: 1.7rem;
      font-family: "Roboto";
      font-weight: bold;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      margin-bottom: size(30);

      &::placeholder {
        color: $buyablebusiness-light-gray;
        font-size: size(15);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        transition: all 400ms ease-in-out;

      }

      &:-moz-placeholder {
        line-height: size(40);
      }

      &::-moz-placeholder {
        line-height: size(40);
      }


      &:focus {
        &::placeholder {
          opacity: 1!important;
        }
      }

      &.on-error {
        border: 1px solid red;
      }

      &.on-error + .error-message {
        display: block;
      }
    }

    .wpcf7-form-control-wrap {
      width: 100%;
    }
  }

  .bottom-buttons {
    display: flex;
    justify-content: space-between;
    @include max-medium-screen {
      flex-direction: column;
    }

    svg {
      width: 20px;
      height: 10px;
    }

    .btn{
      margin-bottom: size(30);
      cursor: pointer;
      //flex-basis: 48%;
    }


    .dark-gray-btn {
      background: $buyablebusiness-gray;

      &:before {
        background: $buyablebusiness-red;
      }
    }

    .gray-btn {
      background: $buyablebusiness-light-gray;

      &:before {
        background: $buyablebusiness-red;
      }
    }

    .d-flex {
      @include max-medium-screen {
        flex-direction: column;
      }
      button{
        margin-right: 0;
        @include large-screen{
          margin-right: size(30);
        }

      }
    }
  }
}

.form-error-message {
  color: $buyablebusiness-red;
  font-size: 15px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: $roboto;

  a{
    text-decoration: underline;
    transition: color .5s;
    &:hover{
      color: $buyablebusiness-dark-red!important;
    }
  }
}

.page-wrapper .step .form-error-message {
  top: -46px;
  width: 100%;
  text-align: center;
}

#mg_container {
  position: relative;
}

header{
  @include paddingY(size(0));

  @include large-screen{
    @include paddingY(size(30));
  }
}

.nav{
  width: 100%;
  font-family: "Bison Bold";

  .nav-content{
    display: flex;
    align-items: baseline;
    @include paddingY(size(5))

  }

  h2{
    font-size: size(30);
    color:$buyablebusiness-white;
    margin-left: size(20);
    @include large-screen{
      font-size: size(53);
    }
  }

  .steps-move{
    width: size(40) !important;
    height: size(40) !important;
    @include large-screen{
      width: size(60) !important;
      height: size(60)!important;
    }

    .gray path {
      fill: $buyablebusiness-gray;
      stroke: navajowhite;
    }

    .red path{
        fill:$buyablebusiness-red;
      stroke: $buyablebusiness-white;
    }
  }

}

.b-color{
  background-color: #666 !important;
}

.r-color{
  background-color:$buyablebusiness-red !important;
}


.social-icons{
  .icon{
    width: size(60) !important;
    height: size(60) !important;
  }
}
.links{
  font-family: Roboto !important;
  font-size: size(20) !important;

  p{
    font-size: inherit !important;
  }
  a{
    font-size: inherit !important;
  }
  .p-phone{
    display: flex !important;
  }

}

footer .links p:hover{
  color:#fff !important;
}

.swal2-popup{
  border: size(2) solid  rgb(165,220,134) !important;
  border-radius: size(10) !important;
}
.swal2-title {
  font-family: Roboto !important;
}

.swal2-html-container{
  font-family: Roboto !important;
  font-size: size(16) !important;
}


.um{
  opacity: 1 !important;

}

.um input[type=submit].um-button{
  background-color: $buyablebusiness-red !important;
}

.modal{
  font-family: Roboto !important;
  border:size(1) solid $buyablebusiness-red !important;
  border-radius: size(10) !important;
  width: size(100)!important;
  padding: size(10) 0 !important ;
  //height: 60% !important;

  @include min-medium-screen{
    width: size(500)!important;
    padding: size(50) 0 !important ;

  }

}

@media only screen and (max-width: 39.9375em) {
  .modal {
    bottom: 0 !important;
    right: 0 !important;
    z-index: 99 !important;
    width: size(300)!important;
    height: 80% !important;
    margin:auto !important;
  }

}

body label{
  text-align:left !important;
  width:70% !important;
  @include max-medium-screen{
    width:100% !important;
  }
}

i{
  font-style: normal !important;
}


#M6, #M7, #M10{
  opacity: 1;
}

@include max-medium-screen{
  .input-group{
    width: 100%;
  }
  .steps .form-group label {
    text-align: left;
    width: 100%;
  }
}

input:disabled {
  background: #f3d3d4!important;
  color: black!important;
  opacity: 1!important;
}

@include max-medium-screen{
  input[type=number]{
    padding-right: 1em !important;
  }
}

div#mg_container input {
  text-align: left;
}
