.tools_content_block .step-icon-title {
  display: flex;
  align-items: center;
  margin-bottom: 8.1rem;
}
@media screen and (max-width: 991.98px) {
  .tools_content_block .step-icon-title {
    flex-direction: column;
    margin-bottom: 3.5rem;
  }
}
.tools_content_block .number {
  font-size: 16.7rem;
  line-height: 100%;
  color: #e31e24;
  margin-bottom: 0;
  font-family: "Bison Bold";
}
@media screen and (max-width: 991.98px) {
  .tools_content_block .number {
    font-size: 12rem;
    margin-top: -1.8rem;
  }
}
.tools_content_block .big-title {
  font-size: 6.6rem;
  font-weight: bold;
  font-family: "Bison Bold";
  line-height: 100%;
  color: #e31e24;
}
@media screen and (max-width: 991.98px) {
  .tools_content_block .big-title {
    font-size: 4rem;
    line-height: 120%;
    text-align: left;
  }
}
.tools_content_block .line {
  width: 3px;
  height: 14.2rem;
  background-color: #e31e24;
  margin-right: 2.8rem;
  margin-left: 2.8rem;
}
@media screen and (max-width: 991.98px) {
  .tools_content_block .line {
    display: none;
  }
}
.tools_content_block .image-and-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 991.98px) {
  .tools_content_block .image-and-text {
    flex-direction: column !important;
  }
}
.tools_content_block .image-and-text .paragraph {
  flex: 0 1 57%;
  font-size: 3.1rem;
  font-family: "Roboto";
  color: #333333;
  font-weight: 400;
  margin-bottom: 3rem;
  padding-right: 4rem;
}
@media screen and (max-width: 991.98px) {
  .tools_content_block .image-and-text .paragraph {
    font-size: 2.3rem;
    flex: 0 0 100%;
    width: 100%;
    padding-right: 1rem;
  }
}
.tools_content_block .image-and-text picture {
  flex: 0 0 40%;
  width: 40%;
  margin-bottom: 3rem;
}
@media screen and (max-width: 991.98px) {
  .tools_content_block .image-and-text picture {
    flex: 0 0 100%;
    width: 100%;
  }
}
.tools_content_block .image-and-text picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.steps_title_block .step-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.steps_title_block .step-title .step-icon-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.steps_title_block .step-title .small-steps {
  width: 17.5rem;
  height: 14.7rem;
}
@media screen and (max-width: 991.98px) {
  .steps_title_block .step-title .small-steps {
    width: 8rem;
  }
}
.steps_title_block .step-title .line {
  width: 0.2rem;
  height: 10rem;
  background-color: #fff;
  margin-right: 3rem;
  margin-left: 3rem;
}
@media screen and (max-width: 991.98px) {
  .steps_title_block .step-title .line {
    height: 6rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.steps_title_block .step-title .gray {
  cursor: pointer;
  transition: opacity 0.25s cubic-bezier(0, 0.93, 0.67, 0.74);
}
.steps_title_block .step-title .gray.active {
  opacity: 0;
}
.steps_title_block .step-title .gray:hover, .steps_title_block .step-title .gray:active, .steps_title_block .step-title .gray:focus {
  opacity: 0;
}
.steps_title_block .step-title .logo-title {
  font-weight: 300;
  color: #ffffff;
  font-size: 5.4rem;
  font-family: "Bison Bold";
  line-height: 100%;
}
@media screen and (max-width: 991.98px) {
  .steps_title_block .step-title .logo-title {
    font-size: 3.2rem;
  }
}
.steps_title_block .step-title .logo-title strong {
  display: block;
}
.steps_title_block .step-title .step-icon {
  width: 10rem;
  height: 12.9rem;
}
.steps_title_block .step-title .step-icon svg {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 991.98px) {
  .steps_title_block .step-title .step-icon {
    width: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1282px;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}
.form-wrapper .inputs-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991.98px) {
  .form-wrapper .inputs-wrapper {
    flex-direction: column;
  }
}
.form-wrapper .inputs-wrapper input {
  width: 100%;
  flex-basis: 48%;
  border: none;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  min-height: 6.7rem;
  background-color: #fff;
  border-radius: 11px;
  color: var(--ligth-gray-color);
  font-size: 1.7rem;
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 3rem;
}
.form-wrapper .inputs-wrapper input::placeholder {
  color: #cccccc;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  transition: all 400ms ease-in-out;
}
.form-wrapper .inputs-wrapper input:-moz-placeholder {
  line-height: 4rem;
}
.form-wrapper .inputs-wrapper input::-moz-placeholder {
  line-height: 4rem;
}
.form-wrapper .inputs-wrapper input:focus::placeholder {
  opacity: 1 !important;
}
.form-wrapper .inputs-wrapper input.on-error {
  border: 1px solid red;
}
.form-wrapper .inputs-wrapper input.on-error + .error-message {
  display: block;
}
.form-wrapper .inputs-wrapper .wpcf7-form-control-wrap {
  width: 100%;
}
.form-wrapper .bottom-buttons {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991.98px) {
  .form-wrapper .bottom-buttons {
    flex-direction: column;
  }
}
.form-wrapper .bottom-buttons svg {
  width: 20px;
  height: 10px;
}
.form-wrapper .bottom-buttons .btn {
  margin-bottom: 3rem;
  cursor: pointer;
}
.form-wrapper .bottom-buttons .dark-gray-btn {
  background: #666666;
}
.form-wrapper .bottom-buttons .dark-gray-btn:before {
  background: #e31e24;
}
.form-wrapper .bottom-buttons .gray-btn {
  background: #cccccc;
}
.form-wrapper .bottom-buttons .gray-btn:before {
  background: #e31e24;
}
@media screen and (max-width: 991.98px) {
  .form-wrapper .bottom-buttons .d-flex {
    flex-direction: column;
  }
}
.form-wrapper .bottom-buttons .d-flex button {
  margin-right: 0;
}
@media screen and (min-width: 992px) {
  .form-wrapper .bottom-buttons .d-flex button {
    margin-right: 3rem;
  }
}

.form-error-message {
  color: #e31e24;
  font-size: 15px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: "Roboto";
}
.form-error-message a {
  text-decoration: underline;
  transition: color 0.5s;
}
.form-error-message a:hover {
  color: #C32729 !important;
}

.page-wrapper .step .form-error-message {
  top: -46px;
  width: 100%;
  text-align: center;
}

#mg_container {
  position: relative;
}

header {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media screen and (min-width: 992px) {
  header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.nav {
  width: 100%;
  font-family: "Bison Bold";
}
.nav .nav-content {
  display: flex;
  align-items: baseline;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav h2 {
  font-size: 3rem;
  color: #ffffff;
  margin-left: 2rem;
}
@media screen and (min-width: 992px) {
  .nav h2 {
    font-size: 5.3rem;
  }
}
.nav .steps-move {
  width: 4rem !important;
  height: 4rem !important;
}
@media screen and (min-width: 992px) {
  .nav .steps-move {
    width: 6rem !important;
    height: 6rem !important;
  }
}
.nav .steps-move .gray path {
  fill: #666666;
  stroke: navajowhite;
}
.nav .steps-move .red path {
  fill: #e31e24;
  stroke: #ffffff;
}

.b-color {
  background-color: #666 !important;
}

.r-color {
  background-color: #e31e24 !important;
}

.social-icons .icon {
  width: 6rem !important;
  height: 6rem !important;
}

.links {
  font-family: Roboto !important;
  font-size: 2rem !important;
}
.links p {
  font-size: inherit !important;
}
.links a {
  font-size: inherit !important;
}
.links .p-phone {
  display: flex !important;
}

footer .links p:hover {
  color: #fff !important;
}

.swal2-popup {
  border: 0.2rem solid #a5dc86 !important;
  border-radius: 1rem !important;
}

.swal2-title {
  font-family: Roboto !important;
}

.swal2-html-container {
  font-family: Roboto !important;
  font-size: 1.6rem !important;
}

.um {
  opacity: 1 !important;
}

.um input[type=submit].um-button {
  background-color: #e31e24 !important;
}

.modal {
  font-family: Roboto !important;
  border: 0.1rem solid #e31e24 !important;
  border-radius: 1rem !important;
  width: 10rem !important;
  padding: 1rem 0 !important;
}
@media screen and (min-width: 600px) {
  .modal {
    width: 50rem !important;
    padding: 5rem 0 !important;
  }
}

@media only screen and (max-width: 39.9375em) {
  .modal {
    bottom: 0 !important;
    right: 0 !important;
    z-index: 99 !important;
    width: 30rem !important;
    height: 80% !important;
    margin: auto !important;
  }
}
body label {
  text-align: left !important;
  width: 70% !important;
}
@media screen and (max-width: 991.98px) {
  body label {
    width: 100% !important;
  }
}

i {
  font-style: normal !important;
}

#M6, #M7, #M10 {
  opacity: 1;
}

@media screen and (max-width: 991.98px) {
  .input-group {
    width: 100%;
  }

  .steps .form-group label {
    text-align: left;
    width: 100%;
  }
}
input:disabled {
  background: #f3d3d4 !important;
  color: black !important;
  opacity: 1 !important;
}

@media screen and (max-width: 991.98px) {
  input[type=number] {
    padding-right: 1em !important;
  }
}
div#mg_container input {
  text-align: left;
}

/*# sourceMappingURL=style-for-plugins.css.map */
