@import "src/styles/variables";
@import "src/styles/mixins";

.best_seller_block {
  @include paddingY(size(120));
  .container {
    max-width: size(1920);
    @include paddingX(size(20));
    @include min-medium-screen {
      @include paddingX(size(60));
    }
    @include large-screen {
      @include paddingX(size(206));
    }
  }
  .best-seller-content {
    @include flex(flex-end, space-between,false, wrap);
  }
  .book {
    @include flexBasis(100%);
    position: relative;
    margin-bottom: size(100);
    @include large-screen {
      @include flexBasis(34.1%);
      margin-bottom: 0;
    }
  }
  .aspect-ratio {
    padding-top: 142.02%;
    box-shadow: size(-50) size(50) size(100) #302f32b3;
  }
  .best-seller {
    font-family: "Bison Bold";
    font-size: size(35);
    font-weight: bold;
    color: $buyablebusiness-white;
    background: rgb(110, 150, 44);
    background: linear-gradient(90deg, rgba(110, 150, 44, 1) 0%, rgba(149, 193, 43, 1) 75%);
    @include paddingX(size(10));
    width: fit-content;
    clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    display: block;
    padding-right: size(43);
    padding-left: size(23);
    position: absolute;
    z-index: 1;
    left: 0;
    top: unset;
    bottom: 100%;
    border-top-right-radius: size(10);
    border-bottom-right-radius: size(10);
    @include large-screen {
      font-size: size(67);
      left: 87%;
      bottom: unset;
      top: size(25);
    }
  }
  .about-book {
    @include flexBasis(100%);
    @include large-screen {
      @include flexBasis(59.9%);
      @include paddingX(size(70));
    }
    p {
      font-family: $roboto;
      font-weight: 300;
      font-size: size(18);
      color: $buyablebusiness-black;
      @include min-medium-screen {
        font-size: size(21);
      }
      @include large-screen {
        font-size: size(30);
      }
    }
  }
  .buy-book {
    margin-top: size(170);
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: size(17);
    @include max-medium-screen {
      margin-top: size(80);
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }
  .amazon-btn {
    background: white;
    padding-bottom: 0;
    border: size(3) solid #808080;
    @include paddingX(size(50))
  }
  .btn {
    @include small-screen {
      width: 100%;
    }
    &:not(:last-of-type) {
      @include large-screen {
        margin-right: size(36);
      }
      @include max-medium-screen {
        margin-bottom: size(20);
      }
    }
  }
}
