@import "src/styles/variables";
@import "src/styles/mixins";

.steps_title_block {
  background: $buyablebusiness-red;
  padding-top: size(50);
  .step-title {
    @include flex(center, space-between);
    .step-icon-title {
      @include flex(center, space-between)
    }
    .small-steps {
      width: size(175);
      height: size(147);
    }
    .line {
      width: size(2);
      height: size(125);
      background-color: $buyablebusiness-white;
      @include marginX(size(30));
    }
    .gray {
      cursor: pointer;
      transition: opacity .25s cubic-bezier(0, 0.93, 0.67, 0.74);
      &.active{
        opacity: 0;
      }
      &:hover, &:active, &:focus {
        opacity: 0;
      }
    }
    .headline-2 {
      font-weight: 400;
      strong {
        display: block;
      }
    }
    .step-icon {
      width: size(114);
      height: size(129);
    }
  }

}
