.gform_wrapper {
  //width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-size: size(16);
  font-weight: 400;
  letter-spacing: size(0.43);
  @include marginX(auto);

  @include min-medium-screen {
    font-size: size(18);
  }

  form {
    width: 100% !important;
  }

  .gsection_title {
    color: $buyablebusiness-black;
    font-size: size(20);
    font-weight: 700;
    line-height: size(28);
    @include min-medium-screen {
      line-height: size(32);
      font-size: size(24);
    }
  }

  .gform_title {
    color: $buyablebusiness-black;
    font-size: size(34) !important;
    line-height: size(40);
    font-weight: 700;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: size(16) !important;
    @include min-medium-screen {
      font-size: size(41) !important;
      line-height: size(45);
      margin-bottom: size(34) !important;
    }
    @include large-screen {
      font-size: size(48) !important;
      line-height: normal;
    }
  }

  .gform_description {
    color: $buyablebusiness-black;
    font-size: size(16);
    font-weight: 300 !important;
    line-height: size(24);
    width: 100% !important;
    text-align: center;
    margin-bottom: size(15) !important;
    @include min-medium-screen {
      font-size: size(20);
      line-height: size(28);
      margin-bottom: size(37) !important;
    }
    @include large-screen {
      font-size: size(24);
      line-height: size(36);
    }
  }

  .gform_fields {
    grid-row-gap: 0 !important;

    .gfield {
      padding: 0 !important;
      margin-top: 0 !important;
      margin-bottom: size(20) !important;
      font-size: inherit;
      line-height: inherit;
      position: relative;

      ::placeholder {
        transition: opacity $duration;
      }
    }

    .gsection {
      margin-bottom: size(15) !important;
      margin-top: size(9) !important;
      @include min-medium-screen {
        margin-top: size(19) !important;
      }
    }

    fieldset.gfield {
      margin-top: size(10) !important;
      @include min-medium-screen {
        margin-top: size(20) !important;
      }
    }

    .gfield_html {
      margin-top: size(15) !important;
    }
  }

  .ginput_container {
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;

    &.ginput_complex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      span {
        padding-right: 0 !important;
        padding-top: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        @include flexBasis(100%);
        @include small-screen {
          &:not(:last-child) {
            margin-bottom: size(20) !important;
          }
        }
        @include min-medium-screen {
          @include flexBasis(48.33%);
        }

        label {
          display: none !important;
        }
      }
    }

    textarea {
      resize: none;
      height: size(150) !important;
      @include min-medium-screen{
        height: size(180) !important;
      }
      &::-webkit-resizer {
        display: none;
        pointer-events: none;
      }
    }

    &_radio, &_checkbox {
      ul {
        width: 100% !important;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          font-size: inherit;
          line-height: inherit;
          margin-bottom: 0;

          &:not(:last-child) {
            margin-bottom: size(13);
          }
        }
      }

      input {
        margin: 0 !important;
        @include square(size(20));
      }

      label {
        margin: 0 0 0 !important;
        font-size: inherit !important;
        line-height: inherit !important;
        font-weight: 400 !important;
        padding-left: size(19);
      }

      .gchoice {
        display: flex;
        align-items: center;
      }

      .gchoice:not(:last-child) {
        margin-bottom: size(13);
      }

      .ginput_container {
        label {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  .gform_body {
    display: block !important;
    max-width: 100% !important;
  }

  .gfield_label {
    color: $buyablebusiness-black;
    line-height: 100% !important;
    text-transform: capitalize;
    width: fit-content !important;
    height: auto !important;
    padding: 0 !important;
    margin: 0 0 size(10) !important;
    font: inherit !important;
    font-weight: 400 !important;
    display: inline-block !important;
  }

  .ginput_container input:not([type=radio]):not([type=checkbox]),
  .ginput_container select,
  .ginput_container textarea{
    border: 1px solid blue;
    border-radius: 7px;
    background-color: $buyablebusiness-white;
    transform: translateZ(0);
    color: $buyablebusiness-black;
    padding: size(16.6) size(24);
    transition: border-color 500ms;
    width: 100%;
    height: 100%;
    font: inherit !important;

    &::placeholder {
      font: inherit;
      color: inherit;
      transition: opacity $duration;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  .ginput_container, .gsection_title {
    max-width: size(528) !important;
  }

  .gfield_signature_container {
    height: size(70) !important;

    canvas {
      height: 100% !important;
      width: 100% !important;
      border: 1px solid blue !important;
      border-radius: 7px !important;
    }
  }


  .ginput_container_select {
    position: relative;

    &:after {
      //content: url(../../images/select-angle.svg);
      position: absolute;
      right: size(17);
      top: 50%;
      transform: translateY(-50%);
      width: size(17);
      //height: size(14);
      pointer-events: none;
      @include min-medium-screen {
        //height: size(24);
        width: size(22);
      }
    }

    select {
      padding-right: size(44);
    }
  }

  select {
    -webkit-appearance: none;
    font-size: inherit;
  }

  .gform_footer {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }

  .gfield_html {
    font-size: size(16) !important;
    line-height: size(29) !important;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.87);
  }

  // region upload
  .gform_fileupload_rules {
    display: none !important;
  }

  .gform_drop_instructions {
    margin-bottom: 0 !important;
    max-width: 83%;
    @include min-medium-screen {
      max-width: 70%;
    }
  }

  .gform_drop_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: size(24);
    border: 0;
    border-radius: 7px;
    margin-bottom: 0 !important;
    @include large-screen {
      padding: size(30) size(24);
    }

    &:after {
      //content: url(../../images/upload.svg);
      position: absolute;
      right: size(24);
      top: 50%;
      transform: translateY(-50%);
      width: size(40);
      pointer-events: none;
      @include min-medium-screen {
        width: size(50);
      }
      @include large-screen {
        width: size(60);
      }
    }

    button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  .ginput_preview {
    margin: size(16) 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // endregion upload


  input[type=submit] {
    @include flex(center, center, false, false);
    overflow: hidden;
    text-align: center;
    width: fit-content;
    min-width: size(263);
    max-width: 100%;
    background: yellow;
    @include font(size(15), 600, 100%, $buyablebusiness-black);
    letter-spacing: size(0.429);
    padding: size(14) size(23);
    transition: color, background-color;
    transition-duration: $duration;
    cursor: pointer;
    @include marginX(auto);
    border: 0 !important;
    margin-bottom: 0 !important;
    line-height: 100% !important;
    min-height: unset !important;

    &:hover {
      background-color: $buyablebusiness-black;
      color: $buyablebusiness-white;
    }
  }

  .gfield_visibility_hidden {
    display: none !important;
  }


  .gform_validation_errors {
    margin-bottom: size(25) !important;
    margin-top: 0 !important;
    padding: size(10) !important;
    border: 2px solid #790000 !important;
    @include min-medium-screen {
      padding: size(14) !important;
    }

    h2 {
      display: flex;
      align-items: flex-start;
      font-size: size(14);
      @include min-medium-screen {
        font-size: size(16);
      }

      .gform-icon {
        font-size: 160%;
        position: static !important;
        @include square(size(22));
        margin: 0 size(5) 0 0 !important;
      }
    }
  }

  .validation_message {
    margin-top: size(8) !important;
    padding: size(6) !important;
    font-size: size(13) !important;
    border-radius: 7px;
    max-width: 52.8rem !important;
  }

  .gfield_error {
    max-width: 100% !important;
    border: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 0 size(8) size(8);
    background-color: transparent !important;
  }

  .gform_legacy_markup_wrapper .gfield_error {
    width: 100% !important;
  }
}

.gform_legacy_markup_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
  margin-bottom: size(20) !important;
}

.gform_legacy_markup_wrapper .left_label .gfield_description, .gform_legacy_markup_wrapper .left_label .instruction, .gform_legacy_markup_wrapper .right_label .gfield_description, .gform_legacy_markup_wrapper .right_label .instruction {
  margin-left: 0 !important;
  width: 100% !important;
}

.gform_legacy_markup_wrapper li.field_sublabel_below .ginput_complex {
  margin-top: 0 !important;
}
