.um.um-account.um-editing.um-um_account_id {
  margin-top: 50px;

  .um-form {
    max-width: 80%;
    margin: 0 auto;
  }

  .um-account-main {
    padding: 0px 0px 0px 5em;
  }

  .um-field {
    max-width: 50rem;
  }

  .um-account-profile-link {
    display: none;
  }

}

