.part_five_block{padding-top:10rem;background:var(--buyablebusiness-red)}.part_five_block .step-five-content .step-icon-title{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;margin-bottom:9.5rem}.part_five_block .step-five-content .headline-1{color:var(--buyablebusiness-white);font-size:16.7rem;min-width:11.4rem;margin-bottom:0;padding-left:4rem}.part_five_block .step-five-content .headline-2{font-size:6.6rem}.part_five_block .step-five-content .line{width:.2rem;height:14.2rem;background-color:var(--buyablebusiness-white);margin-right:3rem;margin-left:3rem}.part_five_block .step-five-content .paragraph{max-width:80%;font-size:3.1rem;font-family:"Roboto";padding-right:3.6rem;padding-left:3.6rem}.part_five_block .step-five-content svg{margin-top:5rem}


/*# sourceMappingURL=445.main.css.map*/