@import "src/styles/variables";
@import "src/styles/mixins";

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $buyablebusiness-white;
  padding: size(20) size(40);
  &.active {
    nav {
      transform: scaleY(1);
      opacity: 1;
    }
    .menu {
      .shape {
        transform: rotate(45deg);
        &:last-of-type {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transform-origin: top;
    @include large-screen {
      position: relative;
    }
    @include max-medium-screen {
      justify-content: center;
      position: absolute;
      align-items: flex-start;
      height: 100vh;
      transform: scaleY(0);
      opacity: 0;
      transition: transform .5s ease, opacity .5s ease;
      width: 100%;
      top: size(105);
      left: 0;
      background: $buyablebusiness-white;
      padding: size(30);
    }
    @include small-screen {
      top: size(80);
    }
  }
  .logo {
    height: size(40);
    display: block;
    @include min-medium-screen {
      height: size(70);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .links-wrapper {
    display: flex;
    align-items: center;
    @include max-medium-screen {
      flex-direction: column;
    }
  }
  .link-wrapper {
    @include large-screen {
      &:not(:last-of-type) {
        margin-right: size(40);
      }
    }
    @include max-medium-screen {
      &:not(:last-of-type) {
        margin-bottom: size(50);
      }
    }
    a {
      font-size: size(18);
      font-weight: 500;
      color: $buyablebusiness-gray;
      font-family: $roboto;
      padding: size(10);
      border-radius: size(5);
      transition: color .25s ease, background .25s ease;
      &:hover {
        color: $buyablebusiness-white;
        background: $buyablebusiness-red;
      }
    }
  }

  .menu {
    position: relative;
    height: size(12);
    width: size(30);
    cursor: pointer;
    @include large-screen {
      display: none;
    }
    .shape {
      width: size(30);
      height: size(2);
      border-radius: size(10);
      background: $buyablebusiness-red;
      transition: top .5s ease-in-out, transform .5s ease-in-out;
      position: absolute;
      left: 0;
      top: 0;
      &:last-of-type {
        top: size(10);
      }
    }
  }
}
