@import "src/styles/variables";
@import "src/styles/mixins";

.orchestrate_the_foundation_block {
  background: $buyablebusiness-red;
  padding-top: size(60);
  .container {
    max-width: size(1920);
    @include paddingX(size(20));
    @include min-medium-screen {
      @include paddingX(size(60));
    }
    @include large-screen {
      @include paddingX(size(206));
    }
  }
  .offer {
    font-size: size(38);
    font-weight: bold;
    color: $buyablebusiness-white;
    background: rgb(33, 39, 180);
    background: linear-gradient(90deg, rgba(33, 39, 180, 1) 0%, rgba(44, 132, 150, 1) 100%);
    @include paddingX(size(20), size(30));
    width: fit-content;
    clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    margin-bottom: size(30);
    display: block;
  }
  .title-step-number {
    position: relative;
  }
  .title {
    color: $buyablebusiness-dark-red;
    font-family: $bison;
    font-size: size(70);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: size(20);
  }
  .step-number {
    font-size: size(167);
    font-weight: bold;
    color: $buyablebusiness-dark-red;
    position: absolute;
    right: 102%;
    top: 50%;
    transform: translateY(-50%)
  }
  .steps-content {
    display: flex;
  }
  .premium-step {
    position: relative;
  }
  .premium-step-1 {
    z-index: 6;
  }
  .premium-step-2 {
    top: 4.5%;
    right: 6%;
    z-index: 5;
  }
  .premium-step-3 {
    top: 1.2%;
    right: -2.5%;
    z-index: 4;
  }
  .premium-step-4 {
    top: 1%;
    right: 4%;
    z-index: 3;
  }
  .premium-step-5 {
    top: 4.8%;
    right: -5%;
    z-index: 2;
  }
  .premium-step-wrapper {
    display: flex;
    flex-direction: column;

    &:last-of-type {
      flex-direction: column-reverse;
    }

  }
  .headline-3 {
    position: absolute;
    top: size(60);
    left: size(45);
    max-width: size(200);
  }
}
