@import "src/styles/variables";
@import "src/styles/mixins";

.page_title_block {
  @include paddingY(size(65));
  @include large-screen {
    @include paddingY(size(100));
  }

  .row {
    @include change-gutter(size(20), size(20));
    @include large-screen {
      @include change-gutter(size(80), size(40));
    }
  }

  .card {
    padding: size(30);
    background: $buyablebusiness-light-white;
    transition: background .5s ease-in-out, transform .5s ease-in-out;
    cursor: pointer;
    &:hover {
      background: $buyablebusiness-dark-red;
      transform: scale(1.05);
      .icon-parent {
        border-bottom: size(1) solid $buyablebusiness-light-white;
      }
      .headline-3 {
        color: $buyablebusiness-light-white;
      }
      path, rect, polygon {
        fill: $buyablebusiness-light-white;
      }
    }
  }

  .icon-parent {
    width: size(70);
    margin-bottom: size(10);
    overflow: hidden;
    border-bottom: size(1) solid $buyablebusiness-gray;
    padding-bottom: size(10);
    transition: border-bottom .5s ease-in-out;
    @include min-medium-screen {
      width: size(100);
      margin-bottom: size(20);
    }

    svg ,img {
      height: size(65);
      @include min-medium-screen {
        height: size(95);
      }
      path, rect, polygon {
        transition: fill .5s ease-in-out;
      }
    }
  }

  .headline-3 {
    color: $buyablebusiness-gray;
    transition: color .5s ease-in-out;
    &:first-of-type {
      font-weight: 700;
    }

    &:last-of-type {
      font-weight: 400;
    }

    @include small-screen {
      line-height: 100%;
    }
  }

}
