@import "src/styles/variables";
@import "src/styles/mixins";

.buyable_journey_block {
  @include paddingY(size(65));
  @include large-screen {
    @include paddingY(size(180), size(105));
  }
  position: relative;

  .container {
    padding: 0 !important;
  }

  .content-wrapper {
    margin: auto;
    @include small-screen {
      max-width: size(375);
    }
    @include large-screen {
      max-width: size(1200);
    }
  }

  .circle {
    &:before {
      content: "";
      border-radius: 50%;
      position: absolute;
      background: $buyablebusiness-light-gray;
      z-index: 111;
      @include square(size(32));
      @include min-medium-screen {
        @include square(size(95));
      }
      @include large-screen {
        @include square(size(71));
      }
    }
  }

  .snake-row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .first-row {
    &:after {
      content: "";
      @include square(size(32));
      border-radius: 50%;
      position: absolute;
      background: $buyablebusiness-light-gray;
      z-index: 111;
      right: 46%;
      top: 43.7%;
      @include min-medium-screen {
        @include square(size(95));
        top: 43.2%;
      }
      @include large-screen {
        display: none;
      }
    }

    &:before {
      @extend .circle;
      right: 44%;
      top: 95.4%;
      @include large-screen {
        left: 72%;
        top: 89%;
      }
    }
  }

  .middle-row {
    &:before {
      @extend .circle;
      right: 45%;
      bottom: 45.8%;
      @include min-medium-screen {
        right: 44%;
        bottom: 45.7%;
      }
      @include large-screen {
        display: none;
      }
    }

    @include large-screen {
      height: size(355);
      flex-direction: row-reverse;
    }
  }

  .last-row {
    &:after {
      content: "";
      border-radius: 50%;
      position: absolute;
      background: $buyablebusiness-light-gray;
      z-index: 111;
      @include square(size(32));
      right: 46%;
      bottom: 43.7%;
      @include min-medium-screen {
        right: 44%;
        bottom: 43.3%;
        @include square(size(95));
      }
      @include large-screen {
        display: none;
      }
    }

    &:before {
      @extend .circle;
      right: 44%;
      bottom: 95.7%;
      @include min-medium-screen {
        bottom: 95.4%;
      }
      @include large-screen {
        right: 72%;
        bottom: 89%;
      }
    }
  }

  // z-index

  .first-row {
    .steps {
      &:first-of-type {
        z-index: 13;
        @include small-screen {
          &:before {
            left: 92%;
          }
        }
      }

      &:nth-of-type(2) {
        z-index: 12;
        @include max-medium-screen {
          &:before {
            left: 50%;
            top: 100%;
            transform: translateY(-50%) rotate(135deg);
          }
        }
      }

      &:nth-of-type(3) {
        z-index: 11;
        @include max-medium-screen {
          &:before {
            left: -6%;
            transform: translateY(-50%) rotate(225deg);
          }
        }
        @include small-screen {
          &:before {
            left: -9%;
          }
        }
      }

      &:nth-of-type(4) {
        z-index: 10;
        @include max-medium-screen {
          &:before {
            top: 95%;
          }
        }
        @include small-screen {
          &:before {
            top: 92%;
          }
        }
      }
    }
  }

  .middle-row {
    .steps {
      &:first-of-type {
        z-index: 9;
        @include max-medium-screen {
          &:before {
            left: 94.2%;
            transform: translateY(-50%) rotate(225deg);
          }
        }
        @include small-screen {
          &:before {
            left: 92%;
          }
        }
      }

      &:nth-of-type(2) {
        z-index: 8;
        @include max-medium-screen {
          &:before {
            left: 50%;
            top: 100%;
            transform: translateY(-50%) rotate(315deg);
          }
        }
      }

      &:nth-of-type(3) {
        z-index: 7;
        @include max-medium-screen {
          &:before {
            left: -6%;
          }
        }
        @include small-screen {
          &:before {
            left: -8.6%;
          }
        }
      }

      &:nth-of-type(4) {
        z-index: 6;
        @include max-medium-screen {
          &:before {
            top: 95%;
          }
        }
        @include small-screen {
          &:before {
            top: 91.5%;
          }
        }
      }
    }
  }

  .last-row {
    .steps {
      &:first-of-type {
        z-index: 5;
        @include small-screen {
          &:before {
            left: 92%;
          }
        }
      }

      &:nth-of-type(2) {
        z-index: 4;
        @include max-medium-screen {
          &:before {
            transform: translateY(-50%) rotate(135deg);
            left: 50%;
            top: 100%;
          }
        }
      }

      &:nth-of-type(3) {
        z-index: 3;
        @include max-medium-screen {
          &:before {
            transform: translateY(-50%) rotate(225deg);
            left: -6%;
          }
        }
        @include small-screen {
          &:before {
            left: -8%;
          }
        }
      }

      &:nth-of-type(4) {
        z-index: 2;
        @include small-screen {
          &:before {
            left: -10%;
          }
        }
      }
    }
  }

  .step-reverse-column {
    @include max-medium-screen {
      flex-direction: column-reverse !important;

    }
  }

  .step-align-end {
    @include max-medium-screen {
      align-items: flex-end !important
    }
  }

  .large-screen-step-reverse-column {
    @include large-screen {
      flex-direction: column-reverse !important;
    }
  }

  .large-screen-step-reverse-row {
    @include large-screen {
      flex-direction: row-reverse !important;
      align-items: flex-end !important;
      padding-left: size(40) !important;
      &.start {
        align-items: flex-start !important;

        .step-number {
          margin-top: size(30) !important;
        }
      }
      .headline-3 {
        width: 50%;
        margin-bottom: size(-40) !important;
      }
    }
  }

  .flex-flex-end {
    @include large-screen {
      display: flex;
      align-items: flex-end;
    }
  }

  //end z-index

  .steps {
    width: 50%;
    background: $buyablebusiness-red;
    color: $buyablebusiness-red;
    height: size(176);
    outline: size(.5) solid $buyablebusiness-light-gray;
    cursor: pointer;

    &:nth-of-type(even) {
      background: $buyablebusiness-dark-red;
      color: $buyablebusiness-dark-red;
    }

    @include min-medium-screen {
      height: size(505);
    }
    @include large-screen {
      height: size(285);
      width: 25%;
    }


    &.coming-soon {
      cursor: auto;

      &:after {
        content: 'Coming Soon';
        position: absolute;
        bottom: 30%;
        left: 54%;
        width: max-content;
        height: auto;
        background: #8d8787;
        font-size: 2rem;
        color: #fff;
        z-index: 99999;
        padding: 1rem 2rem;
        border-radius: 2rem;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: opacity 400ms, visibility 400ms;

        @include min-medium-screen{
          width: fit-content;
          font-size: 2.5rem;
        }
      }

      &:hover {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

  }

  .step-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: size(14);
    position: relative;
    z-index: 1;
    @include min-medium-screen {
      padding: size(50);
    }
    @include large-screen {
      padding: size(30);
    }
  }

  .first-step {
    background: $buyablebusiness-gray !important;
    color: $buyablebusiness-gray !important;
  }

  .last-step {
    background: $buyablebusiness-white !important;
    position: relative;

    .step-content {
      flex-direction: unset !important;
      justify-content: flex-start !important;
      align-items: flex-end;
      @include large-screen {
        padding-left: size(55) !important;
      }
    }


    .headline-2 {
      color: $buyablebusiness-dark-red !important;
      @include small-screen {
        font-size: size(29);
      }
    }
  }

  .first-step, .last-step {
    height: size(160);

    @include min-medium-screen {
      height: size(458);
    }
    @include large-screen {
      height: size(285);
    }
  }


  .big-step {
    @include large-screen {
      height: size(320);
      .step-content {
        height: size(285);
      }
    }
  }


  .m-top {
    margin-top: size(16);

    @include min-medium-screen {
      margin-top: size(47);
    }
    @include large-screen {
      margin-top: 0;
    }
  }

  .step-order-1 {
    order: 1;
    @include large-screen {
      order: unset;
    }
  }

  .left-top-bottom-b-r {
    border-top-left-radius: size(8);
    border-bottom-left-radius: size(8);
  }

  .right-top-bottom-b-r {
    border-top-left-radius: size(8);
    border-bottom-left-radius: size(8);
    @include large-screen {
      border-top-right-radius: size(8);
      border-bottom-right-radius: size(8);
    }
  }

  .b-t-r-r {
    @include max-medium-screen {
      border-top-right-radius: 100%;
    }

  }

  .b-b-r-r {
    @include max-medium-screen {
      border-bottom-right-radius: 100%;
    }
  }

  .b-t-l-r {
    @include max-medium-screen {
      border-top-left-radius: 100%;
    }
  }

  .b-b-l-r {
    @include max-medium-screen {
      border-bottom-left-radius: 100%;
    }
  }

  // large screen

  .l-b-t-r-r {
    @include large-screen {
      border-top-right-radius: 100%;
    }
  }

  .l-b-b-r-r {
    @include large-screen {
      border-bottom-right-radius: 100%;
    }
  }

  .l-b-t-l-r {
    @include large-screen {
      border-top-left-radius: 100%;
    }
  }

  .l-b-b-l-r {
    @include large-screen {
      border-bottom-left-radius: 100%;
    }
  }


  .arrow-right {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 94%;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      border-top-right-radius: size(7);
      border-right: size(1) solid $buyablebusiness-light-gray;
      border-top: size(1) solid $buyablebusiness-light-gray;
      @include square(size(30));
      background: inherit;
      @include min-medium-screen {
        @include square(size(50));
      }
      @include large-screen {
        left: 92%;
      }
    }
  }

  .arrow-bottom {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 92.5%;
      border-bottom-right-radius: size(7);
      border-right: size(1) solid $buyablebusiness-light-gray;
      border-bottom: size(1) solid $buyablebusiness-light-gray;
      transform: translateX(-50%) rotate(45deg);
      @include square(size(30));
      background: inherit;
      @include min-medium-screen {
        @include square(size(50));
      }
    }
  }

  .arrow-left {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: -8.6%;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      border-bottom-left-radius: size(7);
      border-left: size(1) solid $buyablebusiness-light-gray;
      border-bottom: size(1) solid $buyablebusiness-light-gray;
      @include square(size(30));
      background: inherit;
      @include min-medium-screen {
        @include square(size(50));
      }
    }
  }


  .hand-click {
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    width: size(60);
    position: absolute;
    right: size(10);
    top: size(15);
    @include min-medium-screen {
      width: size(160);
      right: size(0);

    }
    @include large-screen{
      right: size(48);
      top:size(50);
    }

    svg {
      width: size(28);
      height: size(37);
      @include min-medium-screen {
        width: size(80);
        height: size(105);
      }
      @include large-screen {
        width: size(76);
        height: size(99);
      }
    }
  }

  .click-hand-text {
    font-weight: bold;
    color: $buyablebusiness-gray;
    margin-top: size(5);
    font-size: size(12);
    @include min-medium-screen {
      font-size: size(34);
    }
    @include large-screen {
      font-size: size(32);
    }
  }

  .step-number {
    @include square(size(29));
    font-size: size(21);
    color: currentColor;
    background: $buyablebusiness-white;
    @include flex(center, center);
    font-weight: bold;
    border-radius: 50%;
    @include min-medium-screen {
      @include square(size(81));
      font-size: size(61);
    }
    @include large-screen {
      @include square(size(51));
      font-size: size(38);
    }
  }

  .premium-number {
    color: $buyablebusiness-white;
    background: rgb(33, 39, 180);
    background: linear-gradient(90deg, rgba(33, 39, 180, 1) 0%, rgba(44, 132, 150, 1) 100%);
  }



  .free-premium {
    display: flex;
    margin-top: size(13);
    width: fit-content;
    padding: size(2) size(30) size(2) size(10);
    clip-path: polygon(100% 0, 92% 50%, 100% 100%, 0 100%, 0 0);
    @include large-screen {
      font-size: size(28);
    }

  }

  .icon-wrapper {
    border-radius: inherit;
    position: absolute;
    @include square(100%);
    top: 0;
    left: 0;
    overflow: hidden;

    svg {
      @include square(100%);
    }
  }

  .main-snake {
    transition: transform 500ms;

    &.scale-down {
      transform: scale(.1) translateY(-50%);
      position: absolute;
      top: 50%;
      right: 0;
    }

    &.not-active {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
  .social-icons{
    .icon{
      width: size(60) !important;
      height: size(60) !important;
    }
  }

  .paragraph{
    display: flex !important;
    margin-bottom: size(10) !important;
    align-items: center !important;


    svg{
      margin-right: size(5) !important;
      width: size(20);
      height: size(20);
    @include min-medium-screen{
      width: size(30);
      height: size(30);
    }
    }
  }



}
