@import "src/styles/variables";
@import "src/styles/mixins";

.hero_block {
  position: relative;
  z-index: 2;
  //@include paddingY(size(152), size(67));
  @include  paddingY(size(100), size(60));

  @include max-medium-screen{
    @include  paddingY(size(150), size(60));
  }

  &.small-height{
    @include paddingY(size(150), size(50));
    @include min-medium-screen{
      @include paddingY(size(50), size(50))
    }
  }

  .buttons-group{
    position: absolute;
    //right: 10%;
    right: 5%;
    top: 10%;
    display: flex;
    align-items: center;
    max-width: 70%;

    @include max-medium-screen{
      right: 3%;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start;
    }


    p{
      color: #fff;
      font-weight: bold;
      font-size: size(16);
      opacity: 1;
      @include min-medium-screen{
        font-size: size(23);
      }
    }

    a{
      color: #000000;
      font-family: 'Roboto',san-serif;
      font-size: size(16);
      font-weight: bold;
      margin-left: 2rem;
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: size(10);
      background-color: #c2c5c3;
      padding: size(15) size(25);
      transition: color 400ms ease, background-color 400ms ease;
      &:hover{
        color: #c2c5c3;
        background-color: #000000;
      }
    @include min-medium-screen{
      font-size: size(23);
    }
      &.upgrade{
        padding: size(7) size(15);
        background-color: $buyablebusiness-red;
        color: white;
      }
      &.logout-button{
        padding: size(7) size(15);
      }
      @include max-medium-screen{
        margin-bottom: size(8);
      }
    }
  }

  .paragraph {
    max-width: size(710);
    font-family: $roboto;
  }




  .steps-move{
    position: absolute;
    top:10%;
    left:4%;
    width: size(40);
    height: size(40);

    @include large-screen{
      width: size(60);
      height: size(60);
    }

  }
}


.buttons-group{
  p{
    position: relative;
    svg{
      position: absolute;
      width: size(30);
      top: size(-20);
      right: size(15);
    }
  }

  .right-space{
    margin-right: size(10) !important;
    @include min-medium-screen{
      margin-right: size(20) !important;
    }
  }


}





